.search {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin-inline: auto;
}

.search > input {
    padding: 16px 8px;
    height: 32px;
    max-width: 850px;
    width: 100%;
    border: none;
    border-radius: 50px;
    background: hsl(0 0% 100%);
    color: hsl(0 0% 50%);
    font-size: 1rem;
}

.search-btn {
    position: absolute;
    right: 0;
    margin: 4px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 1rem;
}